.logo {
  margin-top: 150px;
  font-family: "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 5em;
  text-align: center;
  margin-bottom: 30px;
}

.intro {
  display: block;
  text-align: center;
  font-size: 1em;
  color: #333;
}

.demo {
  text-align: center;
  width: 60%;
  margin: 50px auto;
  overflow: auto;
}

.demo input {
  box-sizing: border-box;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 85%;
  border: 1px solid #d4d4d4;
  height: 55px;
  font-size: 1.2em;
  padding: 10px 15px;
  float: left;
  outline: none;
}

.demo button {
  outline: none;
  cursor: pointer;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  float: left;
  background: #00c15e;
  color: #fff;
  width: 15%;
  border: none;
  margin-left: -1px;
  height: 55px;
}

.action-container {
  background-color: #1138a8;
  padding: 15px 0;
  text-align: center;
}

